<!-- tournament_list.html -->
{% extends 'base.html' %}
{% block title %} Tournament List {% endblock title %}
{% block body %} class="index-page bg-gray-200" {% endblock body %}
{% block content %}
<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header pb-0 text-left">
                    <h4 class="font-weight-bolder">Tournament List</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <label for="user_tournaments">Show My Tournaments:</label>
                        <input type="checkbox" id="user_tournaments" name="user_tournaments" {% if show_user_tournaments %}checked{% endif %}>
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </form>

                    <ul class="list-group">
                        {% for tournament in tournaments %}
                            <li class="list-group-item">
                                <h5>
                                    <a href="{% url 'tournament_details' tournament.id %}">
                                        {{ tournament.name }}
                                    </a>
                                </h5>
                                <p>{{ tournament.start_date }} - {{ tournament.end_date }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
